@font-face {
  font-family: 'avenir_heavy';
  src: url("./ttf/Avenir_Heavy.ttf");
}

@font-face {
  font-family: 'avenir_medium';
  src: url("./ttf/Avenir_Medium.ttf");
}

@font-face {
  font-family: 'Avenir_Book';
  src: url('./ttf/Avenir_Book.ttf');
}
@keyframes pageFadeIn {
  from { opacity:0; }
  to { opacity:1; }
}

body
{
    background-color:rgb(255, 255, 255);
    font-family: "avenir_medium";
    font-weight: 300; 
    opacity:0;
    animation:pageFadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:.1s;
    animation-delay: 0.2s;
}

.things-container{
  margin-top: 2%;
}  



.nav-link {
    color: black;
    letter-spacing: 1.5px;
    margin-left: -36px!important;
}
.nav-link:hover{
    color:rgb(41, 143, 12) ;
}
.nav-link span{
  margin-top: 7px;
}
.search
{
    position: relative;
    box-shadow: 0 0 40px rgba(233, 233, 233, 0.1);
    
}

.what-txt{
  font-size: 18px;
  margin-top: -2px!important;
}
.search input
{
  height: 60px;
  text-indent: 25px;
  border: 1px solid #e0e0e0;
  font-size: 20px;
  width: 100.7%;
  padding-left: 35px!important;
  padding-right: 64px;
    /* margin-left: 15px; */
}

.search input:focus
{
    box-shadow: none;
    border: 1px solid #e0e0e0;
}

.search .fa-search
{    
    position: absolute;
    top: 20px;
    left: 22px;
    font-size: 20px;
    width: 100px!important;
    margin: 0;
    color: #adadad;
    opacity: 0.8;
    

}

.search input::placeholder{
  color: #adadad!important;
  font-size: 20px;
  animation: type 4s steps(60, end); 
  
}

.search button
{
    position: absolute;
    top: 9px;
    right: 12px;
    height: 41px;
    border-radius: 50%;
    width: 38px;
    background: rgb(97 172 34);
}

.search button:hover{
    color: rgb(255, 255, 255);
    background: rgb(41, 143, 12);

}
iframe{
  zoom: 1.0; 
  z-index: 999;
  display:none; 
  opacity:0;
  animation:pageFadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1.1s;
  animation-delay: 0.2s;

}
.iframeclass-page1
{
  /* transform-origin: 0px 0px 0px; transform: scale(0.2); width: 2900px; height: 468px;
  margin-bottom: -40%;
  padding: 0%!important; */  
  margin-bottom: -5%;
  width: 600%;
  height: 430px;
  display: block;
  border: 0;
  transform: scale(.7);
  margin-top: -5%;
  opacity:0;
  animation:pageFadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1.1s;
  animation-delay: 0.2s;
}

.text-success{
  color: #65B323!important;
}

.iframeclass-page2{
  margin-top: -21%;
  transform-origin: 0px 0px 0px;
  transform: scale(0.3);
  width: 600%;
  height: 310%;
  display: block;
  filter: alpha(opacity=70);
  margin-left: -37%;
  opacity: 0;
  animation: pageFadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1.1s;
  animation-delay: 0.2s;
}

.ani{
  animation:pageFadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.0000000000000001s;
  animation-delay: 0.00000000000000000000000000000000000002s;

}

.fa-spin{
  margin-left: -1px;
}
.mob-res{
  margin-top: -35%!important;
  margin-left: 1%;
  width: 51%;

}

.results-2{
  background-color: #ffffff!important;
  border:0!important;
  border-radius: 10px;
  margin-left: 1.8%;
  width: 96%;
  padding: 2%;
  padding-bottom: 0%;

}

.results{

  /* transition: transform 1s ease-in-out; */
  /* animation-duration: 4s;
  transition: 4s;
  transition-delay: 2s; */
  background-color: #ffffff!important;
  border:0!important;
  border-radius: 10px;
  margin-left: 1.8%;
  width: 96%;
  padding: 2%;
  padding-bottom: 0%;
  transition: opacity 2s, height 2s, background-color 2s, transform 2s;
  opacity:0;
  animation:pageFadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1.1s;
  animation-delay: 0.2s;
  
}


table{
 
direction: ltr;

}
.tables {
  overflow-x: auto;
}

.card-body{
   
  

   border:0!important;
   background-color: #f7f7f7!important;
   border-radius: 10px;
   
}
.card{
    width: 60%;
    border:0!important;
    background-color: #f7f7f7!important;
    border-radius: 10px;
    
}

/* width */
::-webkit-scrollbar {
    position: fixed;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: green; 
  }



  
  hr
  {
    width: 62.1%!important;
    margin-left: 1%;
  }
  
  .card-out{
    
    width: 100%;
    height: 90%;
    margin: 5px;
    border:0!important;
    background-color: #f7f7f7!important;
    border-radius: 10px;
  }

  .card-btn{
    font-size: 16px;
    text-align: left;
    font-family: 'Avenir_Book';
    width: 101%;
  }

  .mobres-img
  {
      margin-left: 30%;
  
  }
  
button, input, optgroup, select, textarea{
  font-family: 'avenir_medium';
}
  
  .btn:focus,.btn:active
  {
      outline: none !important;
      box-shadow: none;
  }
  
  .card-btn:hover
  {
      color: rgb(41, 143, 12);
  }
  @media screen and (max-width:768px) {
    hr{
      width: 85%!important;
    
    } .card{
      width: 100%;
     }
     .mob-res{
      margin-top: -142%!important;
    }
    .card-btn{
     width: 106%;
    }
    .top-card{
      margin-top: 6%;
    }
    body{
      font-family: "avenir_medium";
      font-size: 15px;
    }
    .what-txt{
      font-size: 15px; 
      margin-top: 3px!important;
    }
    .search input::placeholder {
      
      font-size: 15px;
      
    }
    .search{
      margin-bottom: 4%;
    }
    .search input{
      font-size: 15px;
    }
    .iframeclass-page1{
      margin-bottom: -30%;
      margin-top: -25%;
    }
    .thing-mob{
      margin-left: 0%!important;
      
    }
    .things-container{
      margin-bottom: 5%;
    }
    .card-out{
      width: 102%;
      height: 90%;
      margin: -1%;
      padding-left: 6%!important;
      padding-right: 8%!important;
    }
    .card-btn{
      padding-bottom: 10%;
      font-size: 13px;
    }
    .search-mob-p2{
      width: 100%;
    }
    .fs-6{
      font-size: 15px!important;
    }
    .results {
      margin-top: 4%!important;
      padding: 4%;
      padding-bottom: 1%;
    }
    .results-2{
      padding: 4%;
      padding-bottom: 4%!important;
    }
    .img-mob{
      visibility: hidden;
    }
    .nav-link span {
      margin-left: -3%;
      margin-top: 6px;
  }

  }
  @media screen and (min-width:768px) and (max-width:1024px){
    hr{
      width: 70%!important;
    
    }
    .img-mob{
      visibility: hidden;
    }
    .nav-link span {
      margin-left: -1%;
      margin-top: 6px;
  }
    .thing-mob {
      margin-left: 5%!important;
  }
    .card{
      width: 68%;
     }
     .search-mob-p2 {
      margin-left: -1%;
    
      }
      .container-ipad{
        margin-bottom: 3%;
        margin-top: 0%!important;
      }   

  }

/* ipad-pro   */

@media screen and (min-width:834px) and (max-width:1194px){
  hr{
    width: 64%!important;
  
  }

  /* .things-container{
    margin-bottom: 5%;
  } */
  .container-ipad{
    margin-bottom: 3%;
    margin-top: 0%!important;
  }


  .card{
    width: 84%;
   }


}

